#root{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: " . . . . "
    " . app app ."
    " . app app ."
    " . . . . ";
    min-height: 100vh;
}

.app{
    grid-area: app;
    background: #EEE;
    text-align: center;
}
