.input {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    position: relative;
    input{
        height: 20px;
        font-size: 14px;
    }
}

.is-exist::before {
    content: 'This task already exist';
    width: 200px;
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 50px;
    color:red;
    font-weight: bold;
}

.is-empty::before {
    content: "Task can't be empty";
    width: 200px;
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 50px;
    color:red;
    font-weight: bold;
}
