.input {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    position: relative;
    input{
        height: 20px;
        font-size: 14px;
    }
}

.is-error{
    input{
        outline: 2px solid $color-red;
    }
}
